version: "3"

services:
  database:
    image: kartoza/postgis
    ports:
        - "5432:5432"
    command: --init-file /data/application/init.sql
    volumes:
        - ./postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=gis
      - POSTGRES_USER=ubi
      - POSTGRES_PASSWORD=pass1234
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  app:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    command: >
      sh -c "python manage.py makemigrations && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    depends_on:
      database:
        condition: "service_healthy"